*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #ffecdb;
}
.liWrap{
    padding:0 15px;
}
h2{
    padding:30px 10px;
    margin:0 0 60px 0;
    border-bottom:1px solid #ffebc3;
    background-color: #fbba33;
    line-height:1;
    color: #fff;
    font-weight:bold;
    text-transform: uppercase;
}
ul{
    width:100%;
    overflow: hidden;
    margin:0 -0.5vw;
    display:flex;
    flex-wrap: wrap;
    margin-block:0;
    padding-inline: 0;
}
li{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    width:calc(25% - 1vw);
    margin:0 0.5vw;
    padding:3%;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom:1vw;
}
li figure{
    margin:20px 0 0 0;
}
li figure img{
    width:100%;
}
li strong{
    display:block;
    margin:15px 0;
    font-size:20px;
}
li p{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    margin-bottom:30px;
}
.liHead{
    display: flex;
    justify-content: space-between;
    color: #fbba33;
}
a{
    display: block;
    background-color: #fbba33;
    color:#000;
    padding:15px 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
}

@media (max-width:767px){
    h2{
        padding:5% 3%;
    }
    ul{
        margin:0 -10px;
    }
    li{
        width:calc(50% - 20px);
        margin:0 10px;
        margin-bottom:20px;
    }
}